.direnv/
.talosconfig.dev
.kubeconfig.dev
kubeconfig
talosconfig
controlplane.yaml
worker.yaml
docs/
.env
age.agekey
.worktrees/
workernvme.yaml
talos-infra
patches/

# Terraform
terraform/*.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
